table.dataTable thead{
    background-color: #007bff;
    color: white;
}
.encabezado{
    background-color: #007bff;
    color: white;
}


.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

input[type=checkbox] {
	transform: scale(1.2);
	margin: 0 5px 0 0;
}