{% extends 'home.html' %}
{% block head %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // let checkall = document.querySelector('#checkall')
        // var counter = document.getElementById('counter')
        var buttons = document.querySelectorAll('.status')
        var checkboxes = document.querySelectorAll('input[type="checkbox"][name="folio"]')
        checkboxes.forEach(element => {
            element.addEventListener('change', function (e) {
                e.preventDefault();
                let chk_checked = [...checkboxes].filter(chk => chk.checked === true);
                chk_checked.length > 0 ? buttons.forEach(b => b.disabled = false) : buttons.forEach(b => b.disabled = true);
                // counter.textContent = chk_checked.length;
            });
        });
        // checkall.addEventListener('change', function () {
        //     if (checkboxes.length > 0) {
        //         let event = new Event('change')
        //         checkboxes.forEach(e => e.checked = this.checked);
        //         checkboxes[0].dispatchEvent(event)
        //     };
        // });
    })
</script>
{% endblock head %}
{% block content %}
{% load static %}

<div class="container">
    <br>
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-search"></i>
                &nbsp;&nbsp;
                <b>Listado de solicitudes</b>
            </h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <form class="text-right">
                Filtrar por fecha: &nbsp;<input value="{{d}}" class="mb-2" type="date" name="d">
                <input name="q" value="{{q}}" class="form-control form-control-lg" type="text" placeholder="0001">
                <input type="hidden" name="page" value="{{page}}">
                <input type="hidden" name="t" value="{{t}}">
                {% if perms.folio.option %}
                <a href="{% url 'reporte_solicitudes' %}" class="btn btn-success mt-2">Descargar Excel</a>
                {% endif %}
                <button type="submit" class="btn btn-secondary mt-2">Buscar folio</button>
            </form>
            <p>
                Filtrar por: &nbsp;
                <a class="btn {% if t == 'todos' %}active{% endif %} btn-outline-primary btn-sm"
                    href="?q={{q}}&page={{page}}&t=todos" role="button">Todos</a>
                <a class="btn {% if t == 'pendiente' %}active{% endif %} btn-outline-primary btn-sm"
                    href="?q={{q}}&page={{page}}&t=pendiente" role="button">Pendientes</a>
                <a class="btn {% if t == 'despachado' %}active{% endif %} btn-outline-primary btn-sm"
                    href="?q={{q}}&page={{page}}&t=despachado" role="button">Despachados</a>
                <a class="btn {% if t == 'cancelado' %}active{% endif %} btn-outline-primary btn-sm"
                    href="?q={{q}}&page={{page}}&t=cancelado" role="button">Cancelados</a>
            </p>
            <p>Total de solicitudes: &nbsp;<b>{{total}}</b></p>
            <form action="{% url 'cambiar_estatus' %}" method="post">
                {% csrf_token %}
                {% if perms.folio.option %}
                <div class="text-right mb-2">
                    <button type="submit" name="done" class="btn btn btn-secondary btn-sm status" disabled>Despachar</button>
                    <button type="submit" name="cancel" class="btn btn btn-secondary btn-sm status" disabled>Cancelar</button>
                </div>
                {% endif %}
                <table class="table table-striped table-bordered" id="data">
                    <thead>
                        <tr>
                            <th scope="col">Número de folio</th>
                            <th scope="col">Nombre del solicitante</th>
                            <th scope="col">Dirigido a</th>
                            <th scope="col">Dependencia</th>
                            <th scope="col">Motivo</th>
                            <th scope="col">Firmado</th>
                            <th scope="col">Fecha de la solicitud</th>
                            <th scope="col">Estatus</th>
                            {% if perms.folio.option %}
                            <th scope="col">Opciones</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for s in object_list %}
                        <tr>
                            <td>{% if perms.folio.option %}{% if s.estatus == 'pendiente' %}<input class="form-check-input mt-2" name="folio" type="checkbox" value="{{s.folio}}" id="{{s.folio}}">{% endif %}{% endif %}<label class="ml-3" for="{{s.folio}}">{{ s.folio }}</label></td>
                            <td>{{s.usuario.get_full_name|default:'No especificado'}}</td>
                            <td>{{ s.nombre }}</td>
                            <td>{{ s.dependencia }}</td>
                            <td>{{ s.motivo }}</td>
                            <td>{{ s.get_firmado_display }}</td>
                            <td>{{ s.fecha_reg }}</td>
                            <td>{{ s.get_estatus_display }}</td>
                            {% if perms.folio.option %}
                            <td class="text-center">
                                {% if s.estatus == 'cancelado' %}
                                <i class="fas fa-ban fa-1x" style="color: red;"></i>
                                {% elif s.estatus == 'despachado' %}
                                <i class="fas fa-check-circle fa-1x" style="color: green;"></i>
                                {% elif s.estatus == 'pendiente' %}
                                <a target="_blank" href="{% url 'mod_folio' s.id %}"><i
                                        class="fas fa-edit fa-1x"></i></a>
                                {% endif %}
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
            {% include 'base/pagination.html' %}
        </div>
        <div class="card-footer">
        </div>
    </div>
    <br>
</div>
{% endblock %}