{% extends 'home.html' %}

{% block content %}
{% load static %}

<div class="container">
    <br>
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-search"></i>
                Listado de solicitudes
            </h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table class="table table-striped table-bordered" id="data">
                <thead>
                    <tr>
                        <th scope="col">Número de folio</th>
                        <th scope="col">Nombre del solicitante</th>
                        <th scope="col">Dirigido a</th>
                        <th scope="col">Dependencia</th>
                        <th scope="col">Motivo</th>
                        <th scope="col">Firmado</th>
                        <th scope="col">Fecha de la solicitud</th>
                        <th scope="col">Estatus</th>
                        {% if perms.folio.option %}
                        <th scope="col">Opciones</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for s in solicitudes %}
                    <tr>

                        <td>{{ s.folio }}</td>
                        <td>{{s.usuario.get_full_name|default:'No especificado'}}</td>
                        <td>{{ s.nombre }}</td>
                        <td>{{ s.dependencia }}</td>
                        <td>{{ s.motivo }}</td>
                        <td>{{ s.get_firmado_display }}</td>
                        <td>{{ s.fecha_reg }}</td>
                        <td>{{ s.get_estatus_display }}</td>
                        {% if perms.folio.option %}
                        <td class="text-center">
                            {% if s.estatus == 'cancelado' or s.estatus == 'despachado' %}
                            <i class="fas fa-ban fa-3x" style="color: red;"></i></a>
                            {% else %}
                            <a href="{% url 'mod_folio' s.id %}" class="btn btn-primary btn"><i
                                    class="fas fa-edit"></i></a>
                            {% endif %}
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer">
        </div>
    </div>
    <br>
</div>
{% endblock %}