{% extends 'home.html' %}
{% block content %}
<div class="container">
    <br>
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-search"></i>
                &nbsp;&nbsp;
                <b>Listado de reducciones</b>
            </h3>
        </div>
        <div class="card-body">
            <form class="text-right">
                <input name="q" value="{{q}}" class="form-control form-control-lg" type="text" placeholder="0001">
                <input type="hidden" name="page" value="{{page}}">
                <input type="hidden" name="t" value="{{t}}">
                {% if perms.folio.option %}
                <a href="{% url 'reporte_red' %}" class="btn btn-success mt-2">Descargar Excel</a>
                {% endif %}
                <button type="submit" class="btn btn-secondary mt-2">Buscar folio</button>
            </form>
            <p>
                Filtrar por: &nbsp;
                <a class="btn {% if t == 'todos' %}active{% endif %} btn-outline-primary btn-sm"
                    href="?q={{q}}&page={{page}}&t=todos" role="button">Todos</a>
                <a class="btn {% if t == 't1' %}active{% endif %} btn-outline-primary btn-sm"
                    href="?q={{q}}&page={{page}}&t=t1" role="button">RED. ART. 74 CFF</a>
                <a class="btn {% if t == 't2' %}active{% endif %} btn-outline-primary btn-sm"
                    href="?q={{q}}&page={{page}}&t=t2" role="button">RED. ART. 41Y74 CFF</a>
            </p>
            <p>Total de resultados: &nbsp;<b>{{total}}</b></p>
            <table class="table table-striped table-bordered" id="data">
                <thead>
                    <tr>
                        <th scope="col">Fecha de asignación</th>
                        <th scope="col">No. de condonación</th>
                        <th scope="col">Folio de recepción</th>
                        <th scope="col">Fecha de recepción</th>
                        <th scope="col">R.F.C.</th>
                        <th scope="col">Nombre del contribuyente</th>
                        <th scope="col">Oficio</th>
                        <th scope="col">Ejecutivo tributario</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in object_list %}
                    <tr>
                        <td>{{obj.fecha_reg}}</td>
                        <td>{{obj.folio}}</td>
                        <td>{{obj.folio_recepcion}}</td>
                        <td>{{obj.fecha_recepcion}}</td>
                        <td>{{obj.rfc}}</td>
                        <td>{{obj.nombre_cont}}</td>
                        <td>{{obj.oficio}}</td>
                        <td>{{obj.ejecutivo.get_full_name}}</td>
                    </tr>
                    {% endfor %}                    
                </tbody>
            </table>
            {% include 'base/pagination.html' %}
        </div>
        <div class="card-footer">
        </div>
    </div>
    <br>
</div>
{% endblock %}