{% load static %}
<!-- Navbar -->
<nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
    <div class="container">
        <a href="#" class="navbar-brand">
            <img src="{% static 'img/sat.png' %}" style="opacity: .8" width="160" height="60">
            <span class="brand-text font-weight-light"></span>
        </a>
        </style>
        <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse order-3" id="navbarCollapse">
            <!-- Left navbar links -->
            <ul class="navbar-nav" style="margin-left: auto;">
                <li class="nav-item">
                    <a href="{% url 'home' %}" class="nav-link">
                        <i class="fas fa-home"></i>
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'reg_usuario' %}" class="nav-link">
                        <i class="fas fa-user"></i>
                        Registro de usuarios
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'cons_usuario' %}" class="nav-link">
                        <i class="fas fa-search"></i>
                        Consulta de usuarios
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'reg_folio' %}" class="nav-link">
                        <i class="fas fa-file-alt"></i>
                        Solicitar folio
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'cons_folio' %}" class="nav-link">
                        <i class="fas fa-search"></i>
                        Consulta de folios
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'logout' %}" class="nav-link">
                        <i class="fas fa-lock"></i>
                        Cerrar sesión
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- /.navbar -->