{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>SAT | Folio</title>
  <link rel="stylesheet" href="{% static 'lib/adminlte-3.0.4/plugins/fontawesome-free/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'lib/adminlte-3.0.4/css/adminlte.min.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}"/>
  <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}"/>
  <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/css/jquery.dataTables.min.css' %}"/>
  <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/plugins/buttons-1.6.1/css/buttons.dataTables.min.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="icon" href="{% static 'img/favicon.png' %}">
  
  {% block head %}

  {% endblock %}
</head>
<body class="hold-transition layout-top-nav">

<div class="wrapper">

{% include 'header.html' %}

<div class="content-wrapper">
  {% block content %}
    <h3>Bienvenido, {{user.get_full_name}}</h3>
    <h5>Número de empleado: {{user.dni}}</h5>
    <h5>RFC corto: {{user.rfc}}</h5>
    <h5>Rol: {{user.get_rol_display}}</h5>
    <div class="container">
      <div class="row row-cols-1 row-cols-md-3 g-4 text-center">
        <div class="col">
          <div class="card h-100">
            <br>
            <i class="fas fa-key fa-4x"></i>
            <div class="card-body">
            <br>
            <h3 class="card-text">Cambiar contraseña</h3>
            </div>
            <div class="card-footer">
              <a href="{% url 'Cpassword' %}" class="btn btn-primary btn">Cambiar</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <br>
            <i class="far fa-times-circle fa-4x"></i>
            <div class="card-body">
            <br>
            <h3 class="card-text">Cancelar Folio</h3>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <br>
            <i class="far fa-list-alt fa-4x"></i>
            <div class="card-body">
            <br>
            <h3 class="card-text">Peticiones de cancelaciones</h3>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endblock %}
</div>

{% include 'footer.html' %}


<script src="{% static 'lib/adminlte-3.0.4/plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.0.4/js/adminlte.min.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/plugins/buttons-1.6.1/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/plugins/jszip-2.5.0/jszip.min.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/plugins/pdfmake-0.1.36/pdfmake.min.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/plugins/pdfmake-0.1.36/vfs_fonts.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/plugins/buttons-1.6.1/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/plugins/buttons-1.6.1/js/buttons.print.min.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/plugins/buttons-1.6.1/js/buttons.colVis.min.js' %}"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if messages %}
  {% for m in messages %}
    <script>
      Swal.fire({
        "title": "{{m}}",
        text: "",
        icon: "success",
        confirmButtonText: "Ok"
      })
    </script>
  {% endfor %}
{% endif %}

<script type="application/javascript">
  $('#data').DataTable({
    responsive: true,
    autoWidth: false,
    dom: 'Bfrtip',
    buttons: [
      'excel', 'pdf', 'print'
    ]
  });
</script>
</body>
</html>