{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAT | Folio</title>
    <link rel="stylesheet" href="{% static 'lib/adminlte-3.0.4/plugins/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/bootstrap-4.0.0/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/bootstrap-4.0.0/js/bootstrap.min.js' %}">
    <link rel="stylesheet" href="{% static 'js/jquery-3.5.1.js' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-lg-6">
                    <div class="wrap">
                        <div class="login-wrap p-4 p-md-5">
                            <div class="d-flex">
                                <div class="w-100">
                                    <h3 class="mb-4">Login</h3>
                                </div>
                            </div>
                            <form method="post">
                                {% csrf_token %}
                                <div class="form-group mt-3">
                                    <label class="form-control-placeholder" for="id_username">Número de empleado</label>
                                    <br>
                                    {{form.username}}
                                </div>
                                <div class="form-group">
                                    <label class="form-control-placeholder" for="id_password">Contraseña</label>
                                    <br>
                                    {{form.password}}
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign
                                        In</button>
                                </div>
                            </form>
                            <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                            {% if form.errors %}
                            <script>
                                Swal.fire({
                                    "title": "Credenciales Inválidas",
                                    text: "Favor de verificar el usuario o contraseña",
                                    icon: "warning",
                                    confirmButtonText: "Ok"
                                })
                            </script>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="{% static 'lib/adminlte-3.0.4/plugins/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.0.4/js/adminlte.min.js' %}"></script>
</body>

</html>