{% extends 'home.html' %}

{% block content %}
{% load static %}

<div class="container">
    <br>
    <div class="card card-default">
        <div class="card-header encabezado">
            <h3 class="card-title">
                <i class="fas fa-plus"></i>
                Solicitud de folio
            </h3>
            
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <form class="row g-3" method="POST">
                {% csrf_token %}
                <div class="col-md-6">
                    {{ form.nombre.label_tag }}
                    {{ form.nombre }}
                </div>
                <div class="col-md-6">
                    {{ form.dependencia.label_tag }}
                    {{ form.dependencia }}
                </div>
                <div class="col-md-6">
                    {{ form.motivo.label_tag }}
                    {{ form.motivo }}
                </div>
                <div class="col-md-6">
                    {{ form.firmado.label_tag }}
                    {{ form.firmado }}
                </div>
                <div class="col-md-6">
                    {{ form.estatus.label_tag }}
                    {{ form.estatus }}
                </div>
                <div class="col-12">
                    <br>
                    <button class="btn btn-primary" type="submit">Modificar</button>
                </div>
            </form>
        </div>
    </div>
</div>  
{% endblock %}